@use 'sass:math';

/*
* Grid
*/

// grid system
.row {
  @include grid-layout();
}

// grid container
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--x-small {
    @include container($g-small);
  }

  &--small {
    @include container($g-medium);
  }

  &--medium {
    @include container($g-large);
  }

  &--large {
    @include container($g-huge);
  }
}

// common grid column
.grid-column {
  margin-bottom: -$s-gutter;

  &.grid-column--quadruple {
    margin-right: -$s-gutter-half;
    margin-left: -$s-gutter-half;
  }

  &__item {
    flex-grow: 1;
    margin-bottom: $s-gutter;

    .grid-column--quadruple & {
      flex-grow: 0;
      flex-basis: percentage(math.div(1, 2));
      box-sizing: border-box;
      padding-right: $s-gutter-half;
      padding-left: $s-gutter-half;
    }
  }

  @include mq($small) {
    margin-right: -$s-gutter-half;
    margin-left: -$s-gutter-half;

    &__item {
      flex-grow: 0;
      flex-basis: percentage(math.div(1, 2));
      box-sizing: border-box;
      padding-right: $s-gutter-half;
      padding-left: $s-gutter-half;
    }
  }

  @include mq($medium) {
    &__item {
      margin-bottom: $s-gutter-large;
      .grid-column--triple & {
        flex-basis: percentage(math.div(1, 3));
      }

      .grid-column--quadruple & {
        flex-basis: percentage(math.div(1, 4));
      }
    }
  }

  @include mq($large) {
    margin-right: -$s-gutter;
    margin-bottom: -$s-gutter * 2;
    margin-left: -$s-gutter;

    &.grid-column--quadruple {
      margin-right: -$s-gutter;
      margin-left: -$s-gutter;
    }

    &__item {
      margin-bottom: $s-gutter * 2;
      padding-right: $s-gutter;
      padding-left: $s-gutter;

      .grid-column--double & {
        flex-basis: percentage(math.div(1, 2));
      }

      .grid-column--quadruple & {
        flex-basis: percentage(math.div(1, 4));
        padding-right: $s-gutter;
        padding-left: $s-gutter;
      }
    }
  }
}

// mypage grid column
.me-grid-column {
  margin-right: -$s-gutter-half;
  margin-bottom: -$s-gutter-half;
  margin-left: -$s-gutter-half;

  &__item {
    box-sizing: border-box;
    margin-bottom: $s-gutter;
    padding-right: $s-gutter-half;
    padding-left: $s-gutter-half;

    @include mq($medium) {
      flex-basis: percentage(math.div(1, 2));
    }
  }
}
