@use 'sass:math';

.nav {
  display: flex;
  flex-direction: row;
  margin-right: -$s-gutter-half;
  margin-left: -$s-gutter-half;

  &__asset {
    display: none;
  }

  &__leave {
    display: none;
  }
  .header--search-result & {
    display: flex;
  }

  @include mq($until: $large) {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .is--active-nav & {
      &::before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-cloud;
        height: 100vh;
        height: 100dvh;
        background-color: rgba($c-black, 0.5);
        animation: fade-in $ease-dur $ease-balance forwards;
      }

      &__leave {
        display: block;
        padding-top: $s-gutter-large;
        padding-bottom: $s-gutter;
        font-size: $f-footnote;
        color: #666;
        text-align: center;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
    .header--search-result & {
      display: none;
    }
  }

  @include mq($until: $large) {
    margin-right: -$s-gutter;
    margin-left: -$s-gutter;
  }

  @include mq($large) {
    margin-right: -$s-gutter-small;
    margin-left: -$s-gutter-small;

    &__list {
      display: flex;
      flex: 1;
      max-width: none;
      color: $c-hint;

      li:first-child {
        display: none;
      }
    }
  }

  @include mq($full) {
    flex: 0.9;
    justify-content: space-between;

    .nav__asset {
      position: relative;
      z-index: $z-floor;
      display: block;
      width: 18.4rem;
      min-width: 18.4rem;
      height: 20rem;
      margin-right: 1rem;
      margin-left: percentage(6.4rem/192rem);

      a {
        display: block;
        overflow: hidden;
        border-radius: 1rem;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.nav-a {
  @include transition($prop: color);
  display: flex;
  align-items: center;
  white-space: nowrap;

  span,
  strong {
    display: flex;
    align-items: baseline;
    padding: $s-gutter-large-half $s-gutter-half ($s-gutter-large-half + 0.1rem);
  }

  .nav-enter {
    padding-top: $s-gutter-small-half;
    padding-bottom: $s-gutter-small-half;
  }

  &--home {
    display: block;
    margin-left: $s-gutter-half;
  }

  &--emphasis {
    span::after,
    strong::after {
      content: '';
      display: block;
      width: $s-gutter-quarter;
      height: $s-gutter-quarter;
      margin-left: 0.2rem;
      border-radius: 50%;
      background-color: $c-brand;
      transform: translateY(0.2rem);
    }
  }

  &--pin {
    span {
      font-weight: bold;
      color: $c-white;
    }
  }

  @include mq($until: $large) {
    &--target {
      position: relative;
      font-weight: bold;
      color: $c-white;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - #{$s-gutter});
        height: 0.2rem;
        background-color: $c-white;
        transform: translateX(-50%);
      }
    }
  }

  @include mq($large) {
    margin-right: $s-gutter-small;
    margin-left: $s-gutter-small;

    &:hover {
      color: $c-white;
    }
  }
}

.nav-promotion {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  max-width: none;
  color: $c-hint;

  @include mq($until: $large) {
    padding-top: 0.1rem;
    padding-right: $s-gutter-half;
    padding-left: $s-gutter-half;

    li:last-child {
      padding-right: $s-gutter-half;
    }
  }

  @include mq($large) {
    display: flex;
    flex: 1;
    max-width: none;
    color: $c-hint;

    li:first-child {
      display: none;
    }
  }
}

.nav-category {
  display: none;

  @include mq($until: $large) {
    .is--active-nav & {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: $z-cloud;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      box-sizing: border-box;
      width: 100%;
      max-width: $g-tiny;
      height: 100vh;
      height: 100dvh;
      margin-left: 0;
      padding-top: calc(#{$s-header-mobile} + #{$s-gutter-large-half});
      padding-bottom: $s-gutter-contents-small * 2;
      background-color: $c-white;
      transform-origin: right;
      animation: narrow-backdrop $ease-dur ease-in-out forwards;

      &::-webkit-scrollbar {
        display: none;
      }

      li:first-child {
        order: 1;
      }

      &__menu li:first-child {
        order: unset;
      }

      &__title {
        padding: 1.5rem 2rem;
        font-weight: bold;
        font-size: $s-gutter-small-double;
        color: $c-black;
      }

      &__label {
        position: relative;
        display: flex;
        align-items: center;
        padding: 1.7rem $s-gutter-small-double;
        font-weight: bold;
        font-size: $f-contents;
        color: $c-dark;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: $s-gutter-small-double;
          width: 1.3rem;
          height: 0.2rem;
          background-color: $c-black;
          transform: translateY(-50%);
        }

        &::after {
          transform: translateY(-50%) rotate(90deg);
        }
      }

      &__block {
        margin-top: -$s-gutter;
        margin-bottom: $s-gutter-half;
      }

      &__menu {
        display: none;
        flex-wrap: wrap;
        margin: 0 $s-gutter-small-half;

        li {
          display: flex;
          justify-content: center;
          width: 9rem;
        }

        a {
          display: grid;
          align-items: center;
          justify-items: center;
          margin-bottom: 1.7rem;
          padding: 0;
          font-size: $f-footnote;
          color: $c-black;

          img {
            object-fit: cover;
            overflow: hidden;
            width: 6.4rem;
            height: 6.4rem;
            border-radius: 2.4rem;
          }

          span {
            display: flex;
            justify-content: center;
            min-width: 6.4rem;
            margin-top: 0.5rem;
            padding: 0;
            border-radius: 2.5rem;
            white-space: normal;
          }
        }
      }

      &__trigger {
        display: block;
        pointer-events: none;

        &:checked {
          & ~ .nav-category__label::after {
            content: none;
          }

          & ~ .nav-category__menu {
            display: flex;
          }
        }

        .icon--menu {
          display: none;
        }
      }
    }
  }

  @include mq($until: $medium) {
    .is--active-nav & {
      max-width: none;
    }
  }

  @include mq($large) {
    display: block;
    cursor: pointer;

    > li:not(:first-child) {
      display: none;
    }

    &__block {
      display: none;
      box-sizing: border-box;
    }

    &__trigger {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $c-hint;
      pointer-events: none;

      &::before {
        @include transition();
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-default;
        width: 100%;
        height: 0.1rem;
        background-color: $c-primary;
        transform: scaleX(0);
      }

      .icon--menu path {
        stroke: $c-hint;
      }
    }

    &:hover {
      .nav-category__trigger {
        color: $c-white;
      }

      .icon--menu path {
        stroke: $c-white;
      }
    }

    &__title {
      color: inherit;
    }

    &__block {
      position: absolute;
      z-index: $z-cloud;
      justify-content: space-between;
      width: 100%;
      max-width: $g-huge + 2rem;
      padding-top: 3.3rem;
      padding-bottom: 3rem;
      cursor: default;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 200vw;
        height: 100%;
        background-color: $c-black;
        box-shadow: inset 0 0.1rem $c-background;
        transform: translateX(-50%);
        transform-origin: center top;
        animation: draw-backdrop $ease-dur ease-in-out forwards;
        will-change: auto;
      }
    }

    &__list {
      position: relative;
      z-index: $z-floor;
      display: flex;
      flex: 1;
      justify-content: space-between;
    }

    &__label {
      display: none;
    }

    &__menu {
      img,
      .icon--all {
        display: none;
      }

      span[data-category] {
        position: relative;
        font-weight: bold;
        font-size: $f-contents;

        &:hover::before {
          color: $c-white;
        }
      }

      a {
        @include transition();
        display: block;
        padding: $s-gutter-quarter 0;
        color: $c-hint;
        white-space: normal;

        &:hover {
          color: $c-white;
        }

        > span {
          max-width: 0;
          max-height: 0;
        }

        span,
        strong {
          padding: 0;
        }

        strong {
          font-weight: normal;
        }

        img {
          display: none;
        }
      }

      li {
        flex-basis: unset;
        font-size: $f-footnote;

        &:first-child {
          a {
            padding: $s-gutter-half 0;
            font-size: $f-contents;
            white-space: nowrap;
          }

          strong {
            font-weight: bold;
          }
        }
      }
    }

    &:hover & {
      &__block {
        display: flex;
        animation: fade-in $ease-dur $ease-balance forwards;
      }

      &__trigger::before {
        z-index: $z-space;
        transform: translateY(0.1rem) scaleX(1);
      }
    }
  }
}
